<h1>Forgot your password?</h1>

<%= form_with url: password_reset_path do |form| %>
    <div class="mb-3">
        <%= form.label :email, "Email" %>
        <%= form.text_field :email, class: "form-control", placeholder: "correo@correo.com" %>
    </div>

    <div class="mb-3">
        <%= form.submit "Send reset instructions", class: "btn btn-primary" %>
    </div>
<% end %>